@charset "UTF-8";
.girl-nav a {
  padding: 0 35px; }
.girl-nav i {
  background: url(../images/icon.png) no-repeat -406px -135px; }

/*瀑布流首页*/
.girl-tip {
  margin-top: 36px; }
  .girl-tip .tip-on {
    color: #f60; }
  .girl-tip dt, .girl-tip dd {
    font-size: 16px;
    line-height: 30px;
    cursor: pointer; }

.girl-tab .hd {
  top: 10px; }
  .girl-tab .hd li {
    cursor: pointer; }
  .girl-tab .hd img {
    width: 80px;
    height: 24px; }
.girl-tab .img-list img {
  width: 100%; }
.girl-tab .img-list li {
  width: 220px;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  left: 0;
  top: 0; }
  .girl-tab .img-list li div a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/girls/hover-bg.png) no-repeat center;
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .girl-tab .img-list li div:hover a:after {
    transform: scale(1);
    opacity: 1; }
  .girl-tab .img-list li p {
    line-height: 24px;
    color: #434343; }
  .girl-tab .img-list li .look-num {
    border-top: #F0F0F0 1px solid;
    color: #c5c5c5; }
    .girl-tab .img-list li .look-num i.dis-ib {
      width: 12px;
      height: 11px;
      background: url(../images/icon.png) no-repeat -229px -444px; }
    .girl-tab .img-list li .look-num .add-one {
      color: #f60;
      top: 5px;
      opacity: 0; }
    .girl-tab .img-list li .look-num .move {
      -webkit-animation: move 1s;
      animation: move 1s; }
    .girl-tab .img-list li .look-num span {
      cursor: pointer; }
    .girl-tab .img-list li .look-num .active {
      color: #f60; }

@-webkit-keyframes move {
  0% {
    top: 5px;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    top: -5px;
    opacity: 0; } }
@keyframes move {
  0% {
    top: 5px;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    top: -5px;
    opacity: 0; } }
/*列表页*/
.girl-list li {
  width: 224px;
  margin-right: 20px;
  margin-bottom: 20px; }
  .girl-list li:nth-of-type(5n) {
    margin-right: 0; }
  .girl-list li img {
    width: 224px;
    height: 153px; }
  .girl-list li .media-tit {
    font-size: 14px;
    line-height: 32px; }

/*内页*/
.girl-main h1 {
  font-size: 24px;
  line-height: 60px;
  border-bottom: #F0F0F0 1px solid; }
.girl-main .imgs > img {
  margin: 20px auto;
  max-width: 1000px; }
.girl-main .imgs .prev, .girl-main .imgs .next {
  width: 63px;
  height: 110px;
  top: 50%;
  margin-top: -55px;
  left: 0;
  background: url(../images/icon.png) no-repeat -320px 0;
  cursor: pointer; }
.girl-main .imgs .next {
  left: auto;
  right: 0;
  background-position: -383px 0; }
.girl-main .imgs .last-pic {
  margin: 100px 0;
  padding: 90px 230px 70px;
  background: #515151;
  border-top: #000 2px solid;
  border-bottom: #000 2px solid;
  display: none; }
  .girl-main .imgs .last-pic h3 {
    color: #fff;
    font-size: 16px; }
.girl-main .imgs .recom-pic li {
  width: 170px; }
.girl-main .imgs .recom-pic img {
  width: 170px;
  height: 116px; }
.girl-main .imgs .recom-pic .media-tit {
  color: #fff; }
.girl-main .pis-num {
  font-size: 16px; }
  .girl-main .pis-num .index {
    font-size: 20px;
    color: #f60; }
.girl-main .img-intro {
  width: 950px;
  text-indent: 2em;
  line-height: 24px; }

.other-pic li {
  width: 216px; }
.other-pic li:nth-of-type(5n) {
  margin-right: 0; }
.other-pic img {
  width: 216px;
  height: 148px; }

/*# sourceMappingURL=girls.css.map */
