@charset "UTF-8";
.ori-nav a {
  padding: 0 30px; }
.ori-nav i {
  background: url(../images/icon.png) no-repeat -407px -415px; }

.pack-banner {
  height: 340px; }
  .pack-banner .txt li {
    text-align: right;
    width: 75%;
    right: 10px; }
  .pack-banner img {
    width: 860px;
    height: 340px; }

.news-list li {
  font-size: 14px; }
  .news-list li .tit {
    height: 36px;
    padding-right: 5px; }
    .news-list li .tit span {
      background: #f60;
      border-radius: 5px;
      color: #fff;
      padding: 2px 4px;
      font-size: 12px; }
    .news-list li .tit a {
      font-size: 14px; }
  .news-list li p {
    border-top: #F0F0F0 1px solid;
    color: #959595;
    line-height: 20px; }
    .news-list li p i {
      width: 14px;
      height: 14px;
      background: url(../images/icon.png) no-repeat; }
    .news-list li p .l i {
      background-position: -253px -441px; }
    .news-list li p .r i {
      background-position: -267px -441px; }

.ori-tab .hd ul {
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  padding-left: 25px; }
  .ori-tab .hd ul li {
    cursor: pointer; }
  .ori-tab .hd ul .hd-on {
    height: 4px;
    background: #f60;
    bottom: 0; }
    .ori-tab .hd ul .hd-on:after {
      content: "";
      position: absolute;
      border-left: transparent 3px solid;
      border-right: transparent 3px solid;
      border-top: #f60 3px solid;
      left: 50%;
      bottom: -3px;
      margin-left: -3px; }
.ori-tab .index-news-list li {
  width: 273px; }
  .ori-tab .index-news-list li img {
    width: 273px;
    height: 188px; }
.ori-tab .recom-list {
  width: 100%; }
  .ori-tab .recom-list li {
    width: 202px; }
    .ori-tab .recom-list li img {
      width: 202px;
      height: 138px; }
    .ori-tab .recom-list li .media-tit {
      font-size: 16px;
      line-height: 30px; }
.ori-tab .load-more {
  width: 300px;
  height: 46px;
  line-height: 42px;
  font-size: 20px;
  cursor: pointer;
  /*空心按钮*/
  border-radius: none;
  border: 2px #f60 solid;
  color: #f60; }
  .ori-tab .load-more:hover {
    background: #f60;
    color: #fff; }

/*普通列表页*/
.inside-news-list {
  width: 100%; }
  .inside-news-list li {
    width: 284px;
    margin-right: 20px; }
    .inside-news-list li:nth-of-type(4n) {
      margin-right: 0; }
    .inside-news-list li img {
      width: 285px;
      height: 195px; }

/*侧边栏*/
.ori-list img {
  width: 320px;
  height: 134px; }
.ori-list h3 {
  font-size: 24px;
  color: #fff;
  left: 20px;
  bottom: 20px;
  text-shadow: 1px 1px #000, -1px -1px #000; }

.side-news-list li {
  border-bottom: #F0F0F0 1px solid; }
  .side-news-list li:last-child {
    border-bottom: none; }
.side-news-list img {
  width: 108px;
  height: 74px; }
.side-news-list .title {
  font-size: 16px;
  width: 180px; }
.side-news-list p {
  width: 180px;
  height: 40px; }

.app {
  width: 320px;
  box-sizing: border-box; }
  .app img {
    width: 100px;
    height: 100px;
    border-radius: 5px; }
  .app .app-name {
    color: #525252;
    font-size: 18px; }
  .app .app-detail {
    width: 100px;
    color: #a8a8a8;
    line-height: 24px; }
  .app .btn {
    width: 78px;
    line-height: 32px;
    font-size: 18px;
    /*空心按钮*/
    border-radius: none;
    border: 2px #f60 solid;
    color: #f60; }
    .app .btn:hover {
      background: #f60;
      color: #fff; }

/*视频页*/
.video-con {
  background: #000; }

.video-main {
  padding-top: 30px; }

.r-video-list {
  border-left: #1D1D1D 1px solid; }
  .r-video-list li {
    border-bottom: #1D1D1D 1px solid;
    padding-top: 10px; }
    .r-video-list li:last-of-type {
      border-bottom: none; }
    .r-video-list li .media-article {
      padding-left: 10px; }
    .r-video-list li:hover {
      background: #1B1B1B; }
      .r-video-list li:hover .v-play {
        top: 0; }
  .r-video-list .v-play {
    width: 125px;
    height: 86px;
    top: 100%;
    left: 0;
    background: url(../images/original/video-on-img.png) no-repeat center;
    transition: all 0.5s; }
  .r-video-list img {
    width: 125px;
    height: 85px; }
  .r-video-list .title {
    font-size: 16px;
    width: 155px;
    color: #fff;
    margin-bottom: 5px; }
  .r-video-list p {
    width: 155px;
    height: 58px; }

.video-list .order-num {
  width: 22px;
  line-height: 22px;
  background: #C9C9C9;
  color: #fff;
  z-index: 5;
  top: 5px; }
.video-list .t-three {
  background: #FB7775; }

/*# sourceMappingURL=original.css.map */
